@import "./scss/_variables.scss";
body {
    font-family: 'Pretendard', sans-serif;
}

// 리스트 체크박스
.list_checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #888;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: border-color 0.25s ease, background-color 0.25s ease;

    &:hover {
        border-color: var(--p);
    }

    &::after {
        content: "";
        position: absolute;
        width: 6px;
        height: 12px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        top: 2px;
        left: 6px;
        opacity: 0;
        transform: scale(0) rotate(20deg);
        transition: all 0.25s ease;
    }

    &:checked {
        background-color: var(--p);
        border-color: var(--p);

        &::after {
            opacity: 1;
            transform: scale(1) rotate(45deg);
        }
    }
}

html {
    overflow-y: scroll;
}

body.modal-open {
    padding-right: 0 !important; 
}

input,
select,
textarea {
    border: 1px solid #374151;
    outline: none;
    box-shadow: none;
    background-color: #1f2937;
    color: #f9fafb;
}

input:focus,
select:focus,
textarea:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #374151 !important;
}

:deep(html body .modal) {
    background-color: transparent !important;
}